@using WebClinicGUI.Models.Calendar
@model EventsViewModel
@{
    var selectListPatients = @Model.Resources.Patients
        .Select(p => new SelectListItem { Value = p.Id.ToString(), Text = p.FullName })
        .ToList();

    var selectListPhysicians = @Model.Resources.Physicians
        .Select(p => new SelectListItem { Value = p.Id.ToString(), Text = p.FullName })
        .ToList();
}

<div class="panel panel-default">
    <div class="panel-heading">Filters</div>
    <div class="panel-body">
        <form class="form-horizontal" asp-controller="Calendar"
              asp-action="ApplyFilters" method="post">
            <div class="form-group">
                <select data-live-search="true" class="selectpicker m-1" name="physicianId"
                        asp-items="@selectListPhysicians" onchange="this.form.submit();">
                    <option value="" disabled selected>Choose physician</option>
                    <option class="text-primary" value="0">None</option>
                </select>
                <select data-live-search="true" class="selectpicker m-1" name="patientId"
                        asp-items="@selectListPatients" onchange="this.form.submit();">
                    <option value="" disabled selected>Choose patient</option>
                    <option class="text-primary" value="0">None</option>
                </select>
            </div>
        </form>
    </div>
</div>

@* Create calendar *@
@{
    if (Context.Request.Cookies["ViewType"] == "Day")
    {
        @await Html.PartialAsync("Calendar/_DayPartial")
    }
    else if (Context.Request.Cookies["ViewType"] == "Week")
    {
        @await Html.PartialAsync("Calendar/_WeekPartial")
    }
    else if (Context.Request.Cookies["ViewType"] == "Month")
    {
        @await Html.PartialAsync("Calendar/_MonthPartial")
    }
}

@* Load events *@
<script>
    loadEvents(@Html.Raw(Json.Serialize(@Model.Events)));
</script>
